.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  height: 40px;
}
.header-news{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 40px;
}
.header .header__title {
  font-size: 18px;
  font-weight: 700;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.header-news .header__content {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
} 
.header-news .header__header-news{
  display: flex;
  align-items: center;
  
}
.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
} 